<template>
    <div class="comment-controls" ref='domEl' @click='showInfo()'>
        <a href='javascript:;' @click='filterByUser'>filter</a>
    </div>
</template>

<script>
    let storage = require('./storage');
    const actions = require('./actions')({});

    module.exports = {
        name: 'comment-controls',

        data() {
            return {
                handler: {
                    _data: {}
                }
            };
        },

        created() {
            console.log('---comment-controls created', this);
        },

        methods: {
            showInfo() {
                console.log('---this.handler', this.handler);
            },

            filterByUser() {
                storage.commit(actions.UPDATE_FILTERS, { userId: this.handler._data.authorId });
            }
        }
    }
</script>

<style lang='stylus'>
    .comment-controls
        color: red
        display: inline-block

</style>
