<template>
    <div :class='baseClass'>
        <a  
            v-for='group in sortedComments' 
            :class='groupClass(group)'
            :key='group.key'
            href="javascript:;" 
            @click="emitClicked(group.key)">
                {{ group.name }} ({{ group.comments.length}})
        </a>
    </div>
</template>

<script> 
    const classBuilder = require('../../utils/class-names')('main-panel');



    export default {
        props: ['comments', 'selectedGroup'],

        computed: {
            baseClass() {
                return classBuilder.elem('comments-group-list')();
            },

            sortedComments() {
                return this.comments.sort((u1, u2) => u2.comments.length - u1.comments.length);
            }
        },

        methods: {
            emitClicked(groupKey) {
                this.$emit('group-clicked', groupKey);
            },

            isGroupSelected(group) {
                return this.selectedGroup === group.key;
            },

            groupClass(group) {
                return classBuilder.elem('comments-group')({
                        selected: this.isGroupSelected(group)
                });
            }
        }
    }
</script>

<style lang='stylus'>
    .main-panel
        &__comments-group
            display: block
            margin-top: 5px

            &_selected
                font-weight: bold

</style>