<template>
    <div 
        class="main-panel" 
        :class="classObject" 
        ref='domEl'>
            <a class="main-panel__open-toggler" href='javascript:;' @click=togglePanel>
                VK Admin Tools
            </a>

            <div class="main-panel__content" :style='contentStyle' v-if="panelOpened">

                <groups-list 
                    v-if='activeTab === "users"'
                    :comments='commentsByUser' 
                    @group-clicked='filterByUser'
                    :selected-group='selectedUser'
                    />

                <groups-list 
                    v-if='activeTab === "dates"'
                    :comments='commentsByDate' 
                    @group-clicked='filterByDate'
                    :selected-group='selectedDate'
                    />

            
            </div>

            <div class="main-panel__tabs" v-if="panelOpened">
                <a 
                    class="main-panel__tab" 
                    :class="{ 
                        'main-panel__tab_active': activeTab === 'users', 
                        'main-panel__tab_selected': selectedUser 
                    }"
                    href="javascript:;" 
                    @click='activeTab="users"'>
                    Users
                </a>

                <a 
                    class="main-panel__tab" 
                    :class="{ 
                        'main-panel__tab_active': activeTab === 'dates', 
                        'main-panel__tab_selected': selectedDate
                    }"
                    href="javascript:;"  
                    @click='activeTab="dates"'>
                    Dates
                </a>
            </div>
    </div>
</template>

<script>
    const storage = require('../storage');
    const actions = require('../actions')();
    const GroupsList = require('./main-panel__comment-groups-list.vue').default;
    const classBuilder = require('../../utils/class-names.js')('main-panel');

    export default {
        components: {
            'groups-list': GroupsList
        },

        data() {
            return {
                activeTab: 'users'
            };
        },

        computed: {
            classObject() {
                return classBuilder({
                    opened: this.panelOpened,
                    closed: !this.panelOpened
                });
            },

            panelOpened() {
                return storage.mainPanelOpened;
            },

            commentsByUser() {
                return storage.commentsByUser;
            },

            commentsByDate() {
                return storage.commentsByDate;
            },

            maxHeight() {
                return window.innerHeight - 100;
            },

            contentStyle() {
                return `max-height: ${this.maxHeight}px;`
            },

            selectedUser() {
                return storage.filters.userId;
            },

            selectedDate() {
                return storage.filters.date;
            }
        },

        methods: {
            togglePanel() {
                storage.commit(actions.TOGGLE_MAIN_PANEL);
            },

            filterByUser(userId) {
                storage.commit(actions.UPDATE_FILTERS, { userId });
            },

            filterByDate(date) {
                storage.commit(actions.UPDATE_FILTERS, { date });
            }
        }
    }
</script>

<style lang='stylus'>
    .main-panel
        position: fixed
        z-index: 999
        bottom: 10px
        left: 10px
        padding: 10px;
        border: 1px solid silver
        border-radius: 10px
        background-color: white

        &__open-toggler
            display: block
            margin: -10px
            padding: 10px
            &:hover
                background-color: rgba(42, 88, 133, .1)
                text-decoration: none

        &__content
            padding-top: 10p
            overflow-y: auto

        &__tabs
            list-style: none
            padding: 0

        &__tab
            display: inline-block
            margin: 5px

            &_active
                border-bottom: 1px solid silver
            &_selected
                font-weight: bold

</style>

